# User-Added
*.pyc
.idea
bottoken.py
bot_token.py
config.py
config_old.py
bbt_credentials.json
cogs/dev.py
cog_functions.py
modules/onmyoji/images/guild
module_access.json
modules/bathmemes
guild_info.json
shard-trading-db.json
/guilds
/tokens
/lists
tweet_dump.json
print_db.json
/modules/dragalia/lists
old_code.py
*_backup.py
master.db
/archive
modules/onmyoji/bbt