discord.py[voice]==1.0.1
opuslib==3.0.1
requests==2.21.0
youtube_dl==2017.12.2
asyncio==3.4.3
google-api-python-client==1.7.8
google-auth-oauthlib==0.3.0
pyexcel==0.5.13
pyexcel-xls==0.5.8
pyexcel-xlsx==0.5.7
xlrd==1.2.0
git+ssh://git@github.com/seatgeek/fuzzywuzzy.git@0.17.0#egg=fuzzywuzzy[speedup]
requests==2.21.0