git+https://github.com/Rapptz/discord.py#egg=discord.py[voice]
opuslib
requests
youtube_dl
asyncio
google-api-python-client
google_auth_oauthlib
pandas
pyexcel==0.5.13
pyexcel-xls==0.5.8
pyexcel-xlsx==0.5.7
xlrd
